/* Estilos del navbar */
header {
    color: white;
    padding: 20px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.header-box {
    background-color: #5a7d4b; /* Verde */
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px;
    max-width: 100%; /* Ajusta el ancho */
    margin: 20px auto; /* Centrarlo horizontalmente */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.navbar-box2 {
    background-color: #5a7d4b;
    border-radius: 0px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    /*max-width: 1200px;*/
    padding: 10px 20px;
    text-align: center;
    /*height: 50px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_container2 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 100px;
    padding-top: 100px;
}

.navbar_container2 img {
    display: block;
}

.navbar_container2 .small_logo {
    margin-right: 20px;
}

header .btn {
    background-color: #5a7d4b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0px;
    transition: background-color 0.3s;
    text-decoration: none;

}

header .btn:hover {
    background-color: #4c6b3d;
}

.small_logo {
    height: 40px;
    flex-shrink: 0;
}

/* Estilos del dropdown */
.dropdown2 {
    position: relative;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    top: 100%;
    left: 0;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-content2 a {
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
    background: white;
}

.dropdown-content2 a:hover {
    background-color: #f1f1f1;
}

/* Mostrar el dropdown al pasar el mouse */
.dropdown2:hover .dropdown-content2 {
    display: block;
}

/* Estilo para el overlay (fondo oscuro) */
.modal-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Estilo para el modal */
.modal2 {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.modal2 button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #5a7d4b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal2 button:hover {
    background: #445a35; /* verde oscuro */
}
.modal-buttons2 {
    display: flex;
    justify-content: space-between; /* Espacio entre los botones */
    margin-top: 20px; /* Separación entre el texto y los botones */
}

.modal-buttons2 button {
    margin-right: 10px; /* Espacio entre los botones */
}

.modal-buttons2 button:last-child {
    margin-right: 0; /* Para no dejar espacio al final */
}